<div class='container'>
  <nav class="navbar navbar-light bg-faded">
    <a class="navbar-brand" routerLink="/login">Login</a>
    <a class="navbar-brand" routerLink="/home">Accodian</a>
    <a class="navbar-brand" routerLink="/alert">Alert</a>
    <a class="navbar-brand" routerLink="/hero">Hero List</a>
    <a class="navbar-brand" routerLink="/Toaster">Toaster</a>
    <a class="navbar-brand" routerLink="/Product">Product</a>
    <a class="navbar-brand" routerLink="/Lazy">Lazy</a>
  </nav>
  <router-outlet></router-outlet>
</div>